In [1]:
import pandas as pd
from sqlalchemy import create_engine
# sephora_df = pd.read_csv('raw_data/sephora_df.csv')
# ulta_df = pd.read_csv('raw_data/ulta_df.csv')
merged_df = pd.read_csv('raw_data/merge_df.csv')
merged_df.columns

Index(['index', 'brand', 'product', 'product_type', ' price ', 'rating',
       'details', 'ingredients', 'url', 'store'],
      dtype='object')

In [2]:
options = ['blush','foundation','eyeshadow','eyeliner'] 
# selecting rows based on condition 
final_df = merged_df[merged_df['product_type'].isin(options)]

In [13]:
connection_string = "postgres:@localhost:5432/beaty_db"

engine = create_engine(f'postgresql://{connection_string}')

In [14]:
final_df.to_sql(name='b_table', con=engine, if_exists='replace', index=False)

In [62]:
"Blush and Foundation " "Top 10 Blush Products by Price, Price and Both " , "Foundation"

('Blush and Foundation Top 10 Blush Products by Price, Price and Both ',
 'Foundation')

In [63]:
final_df.columns

Index(['Unnamed: 0', 'Brand', 'Product', 'Product Type', 'Price', 'Rating',
       'Details', 'Ingredients', 'URL', 'Store'],
      dtype='object')

In [18]:
df = pd.read_sql_query('select * from b_table where product_type == 'blush' order by rating desc limit 10',con=engine)
df.head()

SyntaxError: invalid syntax (<ipython-input-18-13c804a13db5>, line 1)